body {
  background-color: #E8ECEF;
}

.home-btn {
  width: 105px;
}

.secrets-btn {
  width: 175px;
}

.centered {
  padding-top: 200px;
  text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.switch {
  color: #000;
}
.switch:hover {
  color: #000;
}
